#ignore everything
*

#expect this
!.gitignore
!package.json
!package-lock.json
!config.js
!app.js
!server.js
!bin/node-docker-webhook-linux
!bin/node-docker-webhook-macos
!bin/node-docker-webhook-win.exe